<html>
<head>
	<title>Demo request title</title>
</head>
<body>
	<h1>HelpBase Demo Request</h1>
	Name: <%=@contact.name%><br />
	Email: <%=@contact.email%><br />
	Organization: <%=@contact.organization%><br />
	Phone: <%=@contact.phone%>	<br />
</body>
</html>