<div class="wrap">
	<div class="pad">
		<div class="header">
			<div class="logo"></div>
			<div class="nav"></div>
		</div>
		<div class="hero">
			<h1>Does your organization help people find the services they need? </h1>
			<h2>HelpBase is Cloud-based software to help you help people -- quickly and inexpensively.</h2>
			<div class="button"><a href="">See How HelpBase Works</a></div>
		</div>
		<div class="subHero">
			<h3>HelpBase: A benefit or question headline?</h3>
			
		</div>
		<div class="features"></div>
		<div class="form"></div>
		<div class="footer"></div>
		<div class="copyright"></div>
	</div>
</div> 
