// This is where you put your sites styles. Thumper isn't intended to be touched too much. :)
//Import Thumper.less
@import "thumper.less";

/* =========================================================== Global Styles ============================================================ */

//Fonts
.body{font-family: 'Roboto', sans-serif;}
.headline {font-family: 'Roboto Condensed', sans-serif;}
.book {font-weight:400}
.light{font-weight:300}
.bold{font-weight:700}
.italic {font-style:italic}

//Colors
@orange: #fb642f;
@tealDark: #51b3bc;
@tealLight: #70ccd4;
@greyDark: #858585;
@greyLight: #eee;
@emeraldLight: #019875;
@emeraldDark: #016850;